* {
  box-sizing: border-box;
}
header {
  position: absolute;
  width: 80%;
  height: 20%;
  top: 5%;
  left: 10%;
  text-align: center;
  background-color: brown;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
}

nav {
  position: absolute;
  width: 80%;
  height: 10%;
  top: 25%;
  left: 10%;
  background-color: blue;
  text-align: center;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
}

#section1 {
  position: absolute;
  width: 30%;
  height: 40%;
  top: 35%;
  left: 10%;
  background-color: #90ee90;
  border-left: 3px solid #000;
}

#section2 {
  position: absolute;
  width: 50%;
  height: 40%;
  top: 35%;
  left: 40%;
  background-color: #ffd700;
  border-right: 3px solid #000;
}

footer {
  position: absolute;
  width: 80%;
  height: 10%;
  top: 75%;
  left: 10%;
  background-color: #555555;
  border-right: 3px solid #000;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
}
